@model IEnumerable<UserModel>
@{
    ViewData["Title"] = "Users";
}

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Telefono)
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /*id=time.PrimaryKey*/}) |
                @Html.ActionLink("Details", "Details", new { /*id=time.PrimaryKey*/}) |
                @Html.ActionLink("Delete", "Delete", new { /*id=time.PrimaryKey*/}) 
            </td>
        </tr>
        }
    </tbody>
</table>
